services:
  - type: web
    name: stremio-ui-override
    env: docker
    dockerfilePath: Dockerfile
    plan: free
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: TZ
        value: Europe/Warsaw